body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 50px;
  background: #fff;
}

#container {
  width: 650px;
  height: 350px;
  background-color: #00ffff;
  margin: auto; /*This centers elemets like divs*/
  border-radius: 30px;
}
